<a href="https://colab.research.google.com/github/mariahelenass/MLflow/blob/main/Infer%C3%AAncia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

In [ ]:
df = pd.read_csv('Credit.csv')

In [ ]:
# Transformando em numéricos
for col in df.columns:
  if df[col].dtype == 'object':
    df[col] = df[col].astype('category').cat.codes

In [ ]:
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,2,6,1,7,1169,0,3,4,3,2,...,2,67,1,1,2,3,1,1,1,1
1,1,48,3,7,5951,3,0,2,0,2,...,2,22,1,1,1,3,1,0,1,0
2,0,12,1,4,2096,3,1,2,3,2,...,2,49,1,1,1,2,2,0,1,1
3,2,42,3,5,7882,3,1,2,3,1,...,0,45,1,0,1,3,2,0,1,1
4,2,24,2,1,4870,3,0,3,3,2,...,1,53,1,0,2,3,2,0,1,0

In [ ]:
dados = df.iloc[0:10, 0:20].to_json(orient="split")

In [ ]:
dados

'{"columns":["checking_status","duration","credit_history","purpose","credit_amount","savings_status","employment","installment_commitment","personal_status","other_parties","residence_since","property_magnitude","age","other_payment_plans","housing","existing_credits","job","num_dependents","own_telephone","foreign_worker"],"index":[0,1,2,3,4,5,6,7,8,9],"data":[[2,6,1,7,1169,0,3,4,3,2,4,2,67,1,1,2,3,1,1,1],[1,48,3,7,5951,3,0,2,0,2,2,2,22,1,1,1,3,1,0,1],[0,12,1,4,2096,3,1,2,3,2,3,2,49,1,1,1,2,2,0,1],[2,42,3,5,7882,3,1,2,3,1,4,0,45,1,0,1,3,2,0,1],[2,24,2,1,4870,3,0,3,3,2,4,1,53,1,0,2,3,2,0,1],[0,36,3,4,9055,0,0,2,3,2,4,1,35,1,0,1,2,2,1,1],[0,24,3,5,2835,2,3,3,3,2,4,0,53,1,1,1,3,1,0,1],[1,36,3,2,6948,3,0,2,3,2,2,3,35,1,2,1,0,1,1,1],[0,12,3,7,3059,4,1,2,1,2,4,2,61,1,1,1,2,1,0,1],[1,30,1,1,5234,3,4,4,2,2,2,3,28,1,1,2,0,1,0,1]]}'

In [ ]:
# Fazendo requisição
previsao = requests.post(url="http://localhost:2345/invocations", headers = {"Content-Type " : "application/json", }, data=dados)

In [ ]:
previsao.text